<div class="container">
<a>ID</a>
</div><a><h2> </h2></a>

<div class="container">
<h3 *ngFor="let Producto of productos">{{Producto.id}}</h3>
</div>

<div class="container">
<a>Nombre</a>
</div><a><h2> </h2></a>

<div class="container">
<h3 *ngFor="let Producto of productos">{{Producto.nombre}}</h3>
</div>

<div class="container">
<a>Precio</a>
</div><a><h2> </h2></a>

<div class="container">
<h3 *ngFor="let Producto of productos">{{Producto.precio}}</h3>
</div>

<div class="container">
<a>Unidades</a>
</div><a><h2> </h2></a>

<div class="container">
<h3 *ngFor="let Producto of productos">{{Producto.unidades}}</h3>
</div>

<div class="container">
<a>Imagen</a>
</div><a><h2> </h2></a>

<div class="container">
  <img [src]="producto.imagen" alt="" style="max heigth: 55px"
</div><a><h2> </h2></a>

<div class="container">
<a>Proveedor</a>
</div><a><h2> </h2></a>

<div class="container">
<h3 *ngFor="let Producto of productos">{{Producto.proveedor}}</h3>
</div>

<div class="container">
<a>Categoria</a>
</div><a><h2> </h2></a>

<div class="container">
<h3 *ngFor="let Producto of productos">{{Producto.categoria}}</h3>
</div>