<div class="container">
<a>NIT</a>
</div><a><h2> </h2></a>

<div class="container">
<h3 *ngFor="let Cliente of clientes">{{Cliente.nit}}</h3>
</div>

<div class="container">
<a>Nombre</a>
</div><a><h2> </h2></a>

<div class="container">
<h3 *ngFor="let Cliente of clientes">{{Cliente.nombre}}</h3>
</div>

<div class="container">
<a>Dirección</a>
</div><a><h2> </h2></a>

<div class="container">
<h3 *ngFor="let Cliente of clientes">{{Cliente.direccion}}</h3>
</div>

<div class="container">
<a>Barrio</a>
</div><a><h2> </h2></a>

<div class="container">
<h3 *ngFor="let Cliente of clientes">{{Cliente.barrio}}</h3>
</div>

<div class="container">
<a>Ciudad</a>
</div><a><h2> </h2></a>

<div class="container">
<h3 *ngFor="let Cliente of clientes">Cliente.ciudad}}</h3>
</div>

<div class="container">
<a>Telefono 1</a>
</div><a><h2> </h2></a>

<div class="container">
<h3 *ngFor="let Cliente of clientes">{{Cliente.tel1}}</h3>
</div>

<div class="container">
<a>Telefono 2</a>
</div><a><h2> </h2></a>

<div class="container">
<h3 *ngFor="let Cliente of clientes">{{Cliente.tel2}}</h3>
</div>