<div class="container">
<a>ID</a>
</div><a><h2> </h2></a>

<form>
  <label for=" ">espacio</label>
  <input type="text">
</form>

<div class="container">
<a>Nombre</a>
</div><a><h2> </h2></a>

<form>
  <label for=" ">espacio</label>
  <input type="text">
</form>

<div class="container">
<a>Precio</a>
</div><a><h2> </h2></a>

<form>
  <label for=" ">espacio</label>
  <input type="text">
</form>

<div class="container">
<a>Unidades</a>
</div><a><h2> </h2></a>

<form>
  <label for=" ">espacio</label>
  <input type="text">
</form>

<div class="container">
<a>Imagen</a>
</div><a><h2> </h2></a>

<div class="container">
<a>Proveedor</a>
</div><a><h2> </h2></a>

<form>
  <label for=" ">espacio</label>
  <input type="text">
</form>

<div class="container">
<a>Categoria</a>
</div><a><h2> </h2></a>

<form>
  <label for=" ">espacio</label>
  <input type="text">
</form>

<a><h1> </h1></a>

<button (click)="ADDP()">Agregar producto</button>