<a>
	<h1>GLOBALCOMER</h1>
</a>
<div class="container">
	<li class="dropdown">
		<a class="button3">Cliente</a>
		<ul>
			<li><button (click)="ADDCF()">Agregar cliente</button></li>
      <a><h2> </h2></a>
			<li><button (click)="MODCF()">Modificar cliente</button>></li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="button3">Producto</a>
		<ul>
			<li><button (click)="ADDPF()">Agregar producto</button></li>
      <a><h2> </h2></a>
			<li><button (click)="MODPF()">Modificar producto</button></li>
      <a><h2> </h2></a>
			<li><button (click)="DELPF()">Eliminar producto</button></li>
		</ul>
	</li>
</div>
<button (click)="VENTA()">VENTA</button>